.logo-parepare {
    width: 20%;
    height: 20%;
}

label {
    font-size: 4vw;
}

.form-control:focus {
    border-color: #ffd000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #ffd000;
}

.dispenda {
    font-size: 4vw;
}

.bg {
    background-image: url("../image/habibi-ainun.jpg");
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0.7)!important;
}

.modal-header {
    border-bottom: 1px solid #888888;
}

.modal-footer {
    border-top: 1px solid #888888;
}

.formpegawai {
    width: 70%;
    margin: auto;
}