* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapheader {
    padding: 15px;
    /* background-color: #1fc8db;
          color: floralwhite; */
    height: 150px;
    border-bottom: 2px solid rgb(78, 136, 223);
    display: table-cell;
    vertical-align: middle;
  }

.wrapfooter {
    border-top: whitesmoke 3px solid;
    background-color: rgb(48, 156, 214);
    padding: 10px;
    color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
    top: 20vh;
    height: 20vh;
}

.wrap {
    position: relative;
}

ul.nav {
    margin: 0;
}

li.nav {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.matikan:disabled {
    background-color: rgb(238, 178, 178) !important;
}

.matikan:hover {
    box-shadow:none !important;
}
.matikan {
    box-shadow:none !important;
}